node_modules/
dist/
src-tauri/target/
target/
.vscode/
.idea/
*.log
.DS_Store
SETTINGS_VERIFICATION.md
*.backup
test-router.html
sync.bat
bun.lock
nul
changelogs/
.claude/
.trae/
changelog/

# 临时不上传
plugins/
plugin-market/
src-tauri/src/plugins/
src-tauri/src/commands/plugin.rs
src-tauri/src/models/plugin.rs
src/api/plugin.ts
src/components/plugin/
src/stores/pluginStore.ts
src/types/plugin.ts
src/views/MarketView.vue
src/views/PluginCategoryView.vue
src/views/PluginPageView.vue
src/views/PluginsView.vue
plans/
.review/
